body {
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
}

.container-fluid {
    padding: 0%;
}

/* 4K-2560px */
/* BANNER LAYOUT 1*/
#bg-img {
    background-image: url(../images/banner.png);
    background-size: cover;
    background-position: center;
    padding-top: 1000px;

}

/* nav bar */
#nav-font-size {
    font-size: 13px;
}

/* navbar scrolldown */
.navbar-fixed-top.scrolled {
    background-color: #464646 !important;
    transition: background-color 200ms linear;
}

.navbar-fixed-top.click-here {
    background-color: #464646 !important;
    transition: background-color 100ms linear;
}

#banner-width {
    width: 100vw;
}

/* anchor tags */
a {
    color: white;
    font-size: 20px;
}

a:hover {
    color: #bdb9b9;
}

#logo-size {
    width: 60%;
    margin-top: 40px;
    margin-left: 370px;
}

#home {
    margin-left: 190px;
}

nav ul li a {
    margin-left: 40px;
    margin-top: 20px;
}

#enquire-btn1 {
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #24ABE2;
}

#banner-content {
    color: whitesmoke;
    margin-top: -420px;
    margin-left: -230px;
}

header h2,
.Nationwide-Coverage h2 {
    font-size: 43px;
}

header h4 {
    font-size: 46.5px;
    font-weight: lighter;
}

header p {
    font-size: xx-large;
}

header {
    margin-bottom: 200px;
}

/* CARDS LAYOUT 2*/
.Our-Services .row {
    width: 100% !important;
}

#card-head {
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-weight: bold;
}

.Our-Services h4 {
    margin-top: -200px;
    margin-bottom: 140px;
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.Our-Services a {
    padding-right: 0%;
    padding-top: 0%;
}

.Our-Services {
    margin-bottom: 200px;
}

/* MAP LAYOUT 3 */
.Nationwide-Coverage .container-fluid {
    background-color: #262627;
    color: white;
}

.Nationwide-Coverage h2 {
    margin-top: 8%;
    margin-left: 10px;
    font-size: 50px;
}

.Nationwide-Coverage .row {
    width: 100%;
}

#map-contents {
    margin-top: 6%;
}

#map-contents b {
    font-size: x-large;
}

#map-container {
    height: 400px;
}

.Nationwide-Coverage span p,
.Nationwide-Coverage span {
    font-size: x-large;
}

.Nationwide-Coverage img {
    margin-right: 6%;
    height: 750px;
}

/* LAYOUT 4 VECTOR CARDS */
.vector-cards {
    margin-right: 205px;
}

.card-border-size {
    width: 450px;
    height: 600px;
}


.card-img-overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    overflow: hidden;
    /* Hide overflowed image */
}

/* Background vector Image Styles*/
/* card number 20,60,100 */
#num,
#num1 {
    position: absolute;
    z-index: 1;
}

/* card border */
.bor-card {
    position: relative;
    z-index: 0;
}

/* card text */
.txt-top {
    position: absolute;
    z-index: 1;
    margin-top: -70px;
}

/* croping calander bg-img */
.crop-image {
    position: relative;
    overflow: hidden;
    height: 370px;
    margin-top: 20px;
    margin-right: -3px;
    z-index: 0;
}

.crop-image img {
    position: relative;
    right: -27%;
    top: 0;
    width: 90%;
    height: 74%;
    transform: translateY(50%);
    /* Adjust the percentage value to crop the desired amount from the bottom */
}

/* croping certificate bg-img */
.crop-image2 {
    position: relative;
    overflow: hidden;
    height: 370px;
    margin-top: 0px;
    margin-right: -3px;
    z-index: 0;
}

.crop-image2 img {
    position: relative;
    /* adjust to cut the right side */
    right: -30%;
    top: 0;
    width: 90%;
    height: 74%;
    transform: translateY(50%);
    /* Adjust the percentage value to crop the desired amount from the bottom */
}

/* croping tick bg-img */
.crop-image3 {
    position: relative;
    overflow: hidden;
    height: 370px;
    margin-top: 0px;
    margin-right: -3px;
    z-index: 0;
}

.crop-image3 img {
    position: relative;
    right: -27%;
    top: 0;
    width: 90%;
    height: 74%;
    transform: translateY(50%);
    /* Adjust the percentage value to crop the desired amount from the bottom */
}

#card2 {
    margin-left: 110px;
}

#card3 {
    margin-left: 110px;
}

.Trading-Cards {
    margin-left: -50px;
}

/* WHITE SPACE TOP & BOTTOM */
.Trading-Cards {
    margin-top: 200px;
    margin-bottom: 200px;
}

#num1 {
    margin-top: 10px;
    margin-left: 110px;
    font-size: 200px;
}

#num {
    margin-top: 10px;
    margin-left: 40px;
    font-size: 200px;
}

.icon {
    margin-top: 80px;
}

.Trading-Cards p {
    font-size: xx-large;
    margin-top: -100px;
}

/* LAYOUT 5 ENQUIRE FORM */
.click-here {
    background-image: url('../images/Enquiry\ Form.png');
    background-size: cover;
    background-position: center;

}

.enquire-form h2 {
    margin-top: 120px;
    margin-bottom: 90px;
    font-size: 50px;
}

#enquire-btn2 {
    margin-bottom: 100px;
}

.enquire-form form {
    margin-left: 100px;
}

.enquire-form label {
    font-size: x-large;
}

.enquire-form input {
    padding: 30px;
    width: 80%;
    margin-bottom: 60px;
}

.enquire-form a {
    margin-top: 90px;
    margin-right: 90px;
}

.enquire-form {
    margin-bottom: 200px;
}

/* LAYOUT 6 ACCREDITATIONS */
.Our-Accreditations h2 {
    margin-bottom: 100px;
}

.Our-Accreditations img {
    margin-left: 100px;
}

.Our-Accreditations {
    margin-bottom: 200px;
}

/* TESTIMONIAL LAYOUT 7 */
.Testimonials {
    background-image: url(../images/Testimonials_bg_img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 1100px;
}

.Testimonials-Carousel .container .row {
    margin-top: -850px;
    margin-bottom: -600px;
    margin-left: -480px;
    height: 600px;
    width: 160%;
}

.Testimonials-Carousel h2 {
    font-size: 50px;
    margin-top: 25%;
    margin-left: 10%;
}

.Testimonials-Carousel p {
    font-size: large;
    margin-left: 10%;
    margin-top: 30px;
}

.icon-quotes {
    font-size: 4.5rem !important;
    color: #ffffff;
    position: absolute;
    background-color: #24ABE2;
    padding: 30px;
    border-radius: 100px;
    margin-top: -80px;
    margin-left: 260px;
}

.Testimonials-Carousel {
    margin-bottom: 600px;
}

swiper-container {
    margin-top: 120px;
    margin-left: 900px;
    width: 55%;
    height: 400px;
}

swiper-container .subpara {
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

swiper-slide {
    height: 270px;
    margin-bottom: 200px;
    background-color: rgb(255, 255, 255);

}

swiper-slide i {
    font-size: 200% !important;
    background-color: #24ABE2;
    color: white;
    border-radius: 100px;
    padding: 25px;
    padding-right: 25px;
    padding-left: 25px;
    margin-top: -50px;
    margin-left: -30px;
}

/* layout 8 */
#blog {
    z-index: 0;
    position: relative;
    margin-left: 75px;
    margin-top: -10px;
}

.txt-center-2 {
    z-index: 1;
    margin-left: 250px;
    margin-top: -220px;
    color: rgb(255, 255, 255);
    position: absolute;
    margin-right: 50px;
    font-size: xx-large;

}

#blog-1 {
    margin-left: -70px;
}

#blog-2 {
    margin-left: -70px;
    margin-bottom: 200px;
}

.blog-cards p {
    font-size: 20px;
}

#readmore-btn {
    padding-right: 15px;
    padding-left: 19px;
    width: 30%;
    background-color: #24ABE2;
}

/* layout 9 */
/* footer  */
.fnt-size {
    font-size: medium;

}

#content-1 {
    margin-left: 450px;
}

#content-1 p {
    font-size: 130%;
}

#content-2 a,
#content-3 a,
#content-4 a {
    font-size: 150%;
}

.para-font {
    font-size: x-large
}

.fa-lg {
    margin-top: 5%;
    margin-bottom: 5%;
}

/* LAPTOP-L */
/* media query for 1440px to 2559px */
@media (min-device-width: 1440px) and (max-device-width: 2559px) {

    /* BANNER */
    #bg-img {
        background-image: url(../images/banner.png);
        background-size: cover;
        background-position: center;
        padding-top: 590px;
    }

    #logo-size {
        width: 65%;
        margin: 20px;
        margin-left: 190px;
    }

    #home {
        margin-left: 100px;
    }

    nav ul li a {
        margin-left: 4px;
        font-size: 13px;
        margin-top: -5px;
    }

    #banner-content {
        color: whitesmoke;
        margin-top: -240px;
        margin-left: 120px;
    }

    header h2 {
        font-size: 24.5px;
    }

    header h4 {
        font-size: 26.5px;
        font-weight: lighter;
    }

    header p {
        font-size: large;
    }

    #enquire-btn1 {
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: #24ABE2;
    }

    header {
        margin-bottom: 140px;
    }

    /* CARDS LAYOUT 2*/
    #card-head {
        font-size: 27px;
    }

    .Our-Services h4 {
        margin-top: -110px;
        margin-bottom: 70px;
        font-size: 18px;
        color: rgb(255, 255, 255);
    }

    .Our-Services {
        margin-bottom: 150px;
    }

    /* MAP LAYOUT 3*/
    .Nationwide-Coverage h2 {
        font-size: xx-large;
    }

    .Nationwide-Coverage img {
        height: 70%;
    }

    #map-contents {
        margin-top: 4%;
    }

    #map-contents b {
        font-size: small;
    }

    .Nationwide-Coverage span p,
    .Nationwide-Coverage span {
        font-size: 12px;
    }

    .Nationwide-Coverage .container-fluid {
        height: 400px;
    }

    /* VECTOR CARDS LAYOUT 4  */
    .card-border-size {
        width: 270px;
        height: 350px;
    }

    #card2 {
        margin-left: 60px;
    }

    #card3 {
        margin-left: 60px;
    }

    .icon {
        margin-top: 40px;
        width: 20%;
    }

    #num1 {
        margin-top: 30px;
        margin-left: 80px;
        font-size: 100px;
    }

    #num {
        margin-top: 30px;
        margin-left: 40px;
        font-size: 100px;
    }

    .Trading-Cards p {
        font-size: larger;
        margin-top: -90px;
    }

    /* croping calander bg-img */
    .crop-image {
        margin-top: -110px;
    }

    /* croping certificate bg-img */
    .crop-image2 {
        margin-top: -120px;
    }

    /* croping tick bg-img */
    .crop-image3 {
        margin-top: -118px;
    }

    /* ENQUIRE FORM LAYOUT 5 */
    .enquire-form input {
        padding: 20px;
        width: 100%;
        margin-bottom: 40px;
    }

    .enquire-form textarea {
        width: 110%;
    }

    .enquire-form h2 {
        font-size: xx-large;
    }

    .enquire-form form {
        margin-left: 0px;

    }

    .enquire-form {
        margin-bottom: 8%;
    }

    .enquire-form a {
        margin-top: 40px;
        margin-right: 0px;
    }

    /* LAYOUT 6 ACCREDITATIONS */
    .Our-Accreditations h2 {
        margin-bottom: 50px;
        font-size: xx-large;
    }

    .Our-Accreditations img {
        margin-left: 70px;
    }

    .Our-Accreditations {
        margin-bottom: 8%;
    }

    /* TESTIMONIAL LAYOUT 7 */
    .Testimonials {
        height: 800px;
    }

    .Testimonials-Carousel .container .row {
        margin-top: -610px;
        margin-bottom: -600px;
        margin-left: 0px;
        height: 400px;
        width: 90%;
    }

    .Testimonials-Carousel h2 {
        font-size: 30px;
        margin-top: 35%;
    }

    .Testimonials-Carousel p {
        font-size: small;
    }

    .icon-quotes {
        font-size: 3rem !important;
        color: #ffffff;
        position: absolute;
        background-color: #24ABE2;
        padding: 30px;
        border-radius: 140px;
        margin-top: 140px;
        margin-left: 180px;
    }

    swiper-container {
        margin-top: 280px;
        margin-left: 500px;
        width: 55%;
        height: 300px;
    }

    swiper-container .subpara {
        margin-top: 10px;
        margin-left: 20px;
        margin-right: 20px;
    }

    swiper-slide {
        height: 190px;

    }

    swiper-slide i {
        font-size: 150% !important;
        background-color: #24ABE2;
        color: white;
        border-radius: 100px;
        padding: 15px;
        padding-right: 15px;
        padding-left: 15px;
    }

    #slide2 {
        margin-left: -50px;
        margin-right: -600px;
    }

    .Testimonials-Carousel {
        margin-bottom: 400px;
    }

    /* LAYOUT 8 BLOG CARDS */
    #blog {
        z-index: 0;
        position: relative;
        margin-left: 75px;
        margin-top: -10px;
    }

    .txt-center-2 {
        z-index: 1;
        margin-left: 140px;
        margin-top: -120px;
        color: rgb(255, 255, 255);
        position: absolute;
        margin-right: 50px;
        font-size: larger;

    }

    #blog-1 {
        margin-left: -5px;
    }

    #blog-2 {
        margin-left: -30px;
        margin-bottom: 200px;
    }

    .blog-cards p {
        font-size: 10px;
    }

    .blog-cards h2 {
        font-size: 15px;
    }

    #readmore-btn {
        padding-right: 15px;
        padding-left: 19px;
        width: 60%;
        background-color: #24ABE2;
    }

    /* layout 9 */
    /* footer  */
    .fnt-size {
        font-size: medium;

    }

    #content-1 {
        margin-left: 230px;
    }

    #content-1 p {
        font-size: 80%;
    }

    .link-txt {
        font-size: 100%;
    }

    #content-2 a,
    #content-3 a,
    #content-4 a {
        font-size: 90%;
    }

    .para-font {
        font-size: small;
    }

    .fa-lg {
        margin-top: 5%;
        margin-bottom: 5%;
    }

}

/* LAPTOP */
/* media query for 1024px to 1439px */
@media (min-device-width: 1024px) and (max-device-width: 1439px) {

    /* BANNER */
    #bg-img {
        background-image: url(../images/banner.png);
        background-size: cover;
        background-position: center;
        padding-top: 420px;
    }

    #logo-size {
        width: 85%;
        margin: 10px;
        margin-left: 150px;
    }

    nav ul li a {
        margin-left: 4px;
        margin-top: -2px;
        font-size: 9px;
    }

    #home {
        margin-left: 110px;
    }

    #banner-content {
        color: whitesmoke;
        margin-top: -180px;
        margin-left: 147px;
    }

    header h2 {
        font-size: 18px;
    }

    header h4 {
        font-size: 19.5px;
        font-weight: lighter;
    }

    header p {
        font-size: smaller;
    }

    #enquire-btn1 {
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 3px;
        padding-right: 3px;
        margin-top: 0px;
        background-color: #24ABE2;
    }

    header {
        margin-bottom: 110px;
    }

    /* CARDS LAYOUT 2*/
    #card-head {
        font-size: 18px;
    }

    .Our-Services h4 {
        margin-top: -80px;
        margin-bottom: 50px;
        font-size: 14px;
        color: rgb(255, 255, 255);
    }

    .Our-Services {
        margin-bottom: 110px;
    }

    /* MAP LAYOUT 3 */
    .Nationwide-Coverage img {
        height: 50%;
    }

    .Nationwide-Coverage h2 {
        font-size: larger;
    }

    #map-contents {
        margin-top: 2%;
    }

    #map-contents b {
        font-size: x-small;
    }

    .Nationwide-Coverage span p,
    .Nationwide-Coverage span {
        font-size: 6px;
    }

    .Nationwide-Coverage .container-fluid {
        height: 280px;
    }

    /* VECTOR CARDS LAYOUT 4  */
    .card-border-size {
        width: 200px;
        height: 280px;
    }

    #card2 {
        margin-left: 39px;
    }

    #card3 {
        margin-left: 39px;
    }

    .icon {
        margin-top: 40px;
        width: 20%;
    }

    #num1 {
        margin-top: 10px;
        margin-left: 50px;
        font-size: 90px;
    }

    #num {
        margin-top: 10px;
        margin-left: 20px;
        font-size: 90px;
    }

    .Trading-Cards p {
        font-size: larger;
        margin-top: -220px;
    }

    /* croping calander bg-img */
    .crop-image {
        margin-top: -20px;
    }

    .crop-image img {
        height: 40%;
    }

    /* croping certificate bg-img */
    .crop-image2 {
        margin-top: -25px;
    }

    .crop-image2 img {
        height: 40%;
    }

    /* croping tick bg-img */
    .crop-image3 {
        margin-top: -20px;
    }

    .crop-image3 img {
        height: 40%;
    }

    /* ENQUIRE FORM LAYOUT 5 */
    .enquire-form input {
        padding: 20px;
        width: 100%;
        margin-bottom: 40px;
    }

    .enquire-form textarea {
        width: 110%;
    }

    .enquire-form h2 {
        font-size: xx-large;
    }

    .enquire-form form {
        margin-left: 0px;
    }

    .enquire-form {
        margin-bottom: 8%;
    }

    .enquire-form a {
        margin-top: 40px;
        margin-right: 0px;
        width: 120%;
        margin-left: -8px;
    }

    /* LAYOUT 6 ACCREDITATIONS */
    .Our-Accreditations h2 {
        margin-bottom: 50px;
        font-size: xx-large;
    }

    .Our-Accreditations img {
        margin-left: 50px;
    }

    .Our-Accreditations {
        margin-bottom: 8%;
    }

    /* TESTIMONIAL LAYOUT 7 */
    .Testimonials {
        height: 600px;
    }

    .Testimonials-Carousel .container .row {
        margin-top: -450px;
        margin-bottom: -600px;
        margin-left: 0px;
        height: 300px;
        width: 80%;
    }

    .Testimonials-Carousel h2 {
        font-size: xx-large;
        margin-top: 35%;
    }

    .Testimonials-Carousel p {
        font-size: xx-small;
    }

    .icon-quotes {
        font-size: 2rem !important;
        color: #ffffff;
        position: absolute;
        background-color: #24ABE2;
        padding: 30px;
        border-radius: 140px;
        margin-top: 240px;
        margin-left: 60px;
    }

    .Testimonials-Carousel {
        margin-bottom: 290px;
    }

    swiper-container {
        margin-top: 330px;
        margin-left: 330px;
        width: 60%;
        height: 250px;
    }

    swiper-container .subpara {
        margin-top: 7px;
        margin-left: 10px;
        margin-right: 20px;
    }

    swiper-slide {
        height: 140px;
    }

    swiper-slide i {
        font-size: 120% !important;
        background-color: #24ABE2;
        color: white;
        border-radius: 100px;
        padding: 15px;
        padding-right: 15px;
        padding-left: 15px;
    }

    #slide2 {
        margin-left: -50px;
        margin-right: -600px;
    }

    /* LAYOUT 8 BLOG CARDS */
    #blog {
        z-index: 0;
        position: relative;
        margin-left: 75px;
        margin-top: -10px;
    }

    .txt-center-2 {
        z-index: 1;
        margin-left: 110px;
        margin-top: -80px;
        color: rgb(255, 255, 255);
        position: absolute;
        margin-right: 50px;
        font-size: small;

    }

    #blog-1 {
        margin-left: -5px;
    }

    #blog-2 {
        margin-left: -30px;
        margin-bottom: 100px;
    }

    .blog-cards p {
        font-size: 7px;
    }

    .blog-cards h2 {
        font-size: medium;
    }

    #readmore-btn {
        padding-right: 15px;
        padding-left: 19px;
        width: 53%;
        background-color: #24ABE2;
        font-size: x-small;
    }

    #content-1 {
        margin-left: 170px;
    }

    #content-1 p {
        font-size: 70%;
    }

    .link-txt {
        font-size: 90%;
    }

    #content-2 a,
    #content-3 a,
    #content-4 a {
        font-size: 80%;
    }

    .para-font {
        font-size:x-small;
    }

    .fa-lg {
        margin-top: 10%;
        margin-bottom: 5%;
    }
}

/* TABLET */
/* media query for 768px to 1023px */
@media (min-device-width: 768px) and (max-device-width: 1023px) {

    /* BANNER */
    #logo-size {
        width: 170%;
        height: 100%;
        margin-left: 110px;
        margin-top: -5px;
    }

    #home {
        margin-left: 25px;
    }

    nav ul li a {
        margin-top: 0px;
        font-size: 8px;
        margin-right: 166px;
        margin-left: 25px;
    }

    #enquire-btn1 {
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 12px;
        margin-top: 8px;
        background-color: #24ABE2;
        margin-right: 244px;

    }

    #banner-content {
        color: whitesmoke;
        margin-top: -150px;
        margin-left: 100px;
    }

    header h2 {
        font-size: 15px;
    }

    header h4 {
        font-size: 17px;
        font-weight: lighter;
    }

    header p {
        font-size: x-small;
    }

    /* toggle button */
    #toggle {
        margin-left: 200px;
        margin-right: 140px;
        font-size: 10px;
        background-color: #24ABE2;
    }

    #bg-img {
        background-image: url(../images/banner.png);
        background-size: cover;
        background-position: center;
        padding-top: 300px;
    }

    header {
        margin-bottom: 70px;
    }

    /* CARDS LAYOUT 2 */
    #card-head {
        font-size: 37px;
    }

    .Our-Services h4 {
        margin-top: -160px;
        margin-bottom: 95px;
    }

    .Our-Services {
        margin-bottom: 70px;
    }

    .Our-Services .row {
        padding-left: 20px;
        width: 780px;
    }

    /* MAP LAYOUT 3 */
    .Nationwide-Coverage img {
        height: 80%;
        justify-content: center;
        margin-right: 0px;
        margin-top: 100px;
    }

    .Nationwide-Coverage .container-fluid {
        padding-bottom: 750px;
    }

    #map-container {
        margin-left: 15px;
    }

    /* VECTOR CARDS LAYOUT 4  */
    #card2 {
        margin-left: 0px;
        margin-top: 40px;
    }

    #card3 {
        margin-left: 0px;
        margin-top: 40px;
    }

    .Trading-Cards .row {
        margin-left: 200px;
    }

    /* ENQUIRE FORM LAYOUT 5 */
    .enquire-form form {
        justify-content: center;

    }

    .enquire-form input,
    textarea {
        margin-left: 23px;
    }

    .enquire-form label {
        margin-left: 23px;
    }

    .enquire-form textarea {
        width: 80%;
    }

    .enquire-form a {
        margin-left: -30px;
    }

    .enquire-form {
        margin-bottom: 8%;
    }

    /* LAYOUT 6 ACCREDITATIONS */
    .Our-Accreditations h2 {
        margin-bottom: 50px;

    }

    .Our-Accreditations img {
        margin-left: 50px;
    }

    .Our-Accreditations {
        margin-bottom: 8%;
    }

    /* TESTIMONIAL LAYOUT 7 */
    .Testimonials {
        background-image: url(../images/Testimonials_bg_img.png);
        background-repeat: round;
        background-position: center;
        height: 1100px;
    }

    .Testimonials-Carousel .container .row {
        margin-top: -850px;
        margin-bottom: -600px;
        margin-left: 0px;
        height: 600px;
        width: 100%;
    }

    .Testimonials-Carousel h2 {
        font-size: 40px;
        margin-top: 25%;
        margin-left: 10%;
    }

    .Testimonials-Carousel {
        margin-bottom: 200px;
    }

    .icon-quotes {
        font-size: 4.5rem !important;
        color: #ffffff;
        position: absolute;
        background-color: #24ABE2;
        padding: 30px;
        border-radius: 100px;
        margin-top: -80px;
        margin-left: 50px;
    }

    swiper-container {
        margin-top: 340px;
        margin-left: 0px;
        width: 100%;
        height: 470px;
    }

    swiper-slide {
        height: 360px;

    }

    #slide2 {
        margin-left: 0px;
    }

    /* LAYOUT 8 BLOG CARDS */
    .txt-center-2 {
        z-index: 1;
        margin-left: 150px;
        margin-top: -150px;
        color: rgb(255, 255, 255);
        position: absolute;
        margin-right: 50px;

    }

    #bluecard {
        margin-right: 70px;
    }

    #blog-1 {
        margin-left: 50px;
        margin-top: 30px;
    }

    #blog-2 {
        margin-left: 28px;
        margin-bottom: 100px;
        margin-top: 30px;
    }

    #readmore-btn {
        padding-right: 15px;
        padding-left: 19px;
        width: 30%;
        background-color: #24ABE2;
        font-size: x-small;
    }

    /* LAYOUT 9 */
    #content-1 {
        margin-left: 0px;
    }

    #foot-content {
        margin-left: 210px;
    }

    .vatno {
        margin-left: 40px;
    }
}

/* MOBILE */
/* Media query for 320px to 767px */
@media (min-device-width: 320px) and (max-device-width: 767px) {

    /* BANNER */
    #logo-size {
        width: 80%;
        height: 100%;
        margin-top: 10px;
        margin-left: 20px;
    }

    #nav {
        margin-top: -17px;
    }

    #home {
        margin-left: 18px;
    }

    #toggle {
        margin-right: 40px;
        font-size: 5px;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 3px;
        padding-right: 3px;
        background-color: #24ABE2;

    }

    nav ul li a {
        margin-top: -10px;
        margin-right: 170px;
        font-size: 5px;
        margin-left: 18px;
    }

    #banner-content {
        color: rgb(255, 255, 255);
        margin-top: -60px;
        margin-left: 40px;
    }

    header h2 {
        font-size: 5px;
    }

    header h4 {
        font-size: 5.4px;
        font-weight: lighter;
    }

    header p {
        font-size: 4px;
    }


    #enquire-btn1 {
        margin-top: -5px;
        background-color: #24ABE2;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-right: 0px;
        padding-left: 0px;
        text-align: center;
        margin-right: 225px;
    }

    #bg-img {
        background-image: url(../images/banner.png);
        background-size: cover;
        background-position: center;
        padding: 70px;
    }

    header {
        margin-bottom: 20px;
    }

    /* CARDS LAYOUT 2*/
    #card-head {
        font-size: 15px;
    }

    .Our-Services h4 {
        margin-top: -65px;
        margin-bottom: 40px;
        font-size: 10px;
        color: rgb(255, 255, 255);
    }

    .Our-Services {
        margin-bottom: 80px;
        margin-top: 80px;
        margin-left: 10px;
    }

    .Our-Services a {
        padding: 1%;
    }

    .Our-Services .row {
        padding-left: 20px;
        width: 330px;
    }

    /* MAP LAYOUT 3 */
    .Nationwide-Coverage img {
        height: 180px;
        margin-right: 0px;
        margin-top: 100px;
    }

    .Nationwide-Coverage h2 {
        font-size: large;
    }

    #map-contents {
        margin-top: 1%;
    }

    #map-contents b {
        font-size: x-small;
    }

    .Nationwide-Coverage span p,
    .Nationwide-Coverage span {
        font-size: 15px;
    }

    .Nationwide-Coverage .container-fluid {
        height: 1050px;
    }

    #map-container {
        margin-left: 15px;
    }

    /* VECTOR CARDS LAYOUT 4  */
    .card-border-size {
        width: 200px;
        height: 280px;
    }

    #card1 {
        margin-left: 110px;
    }

    #card2 {
        margin-left: 110px;
        margin-top: 15px;
    }

    #card3 {
        margin-left: 110px;
        margin-top: 15px;
    }

    .icon {
        margin-top: 40px;
        width: 20%;
    }

    #num1 {
        margin-top: 10px;
        margin-left: 50px;
        font-size: 90px;
    }

    #num {
        margin-top: 10px;
        margin-left: 20px;
        font-size: 90px;
    }

    .Trading-Cards p {
        font-size: larger;
        margin-top: -220px;
    }

    /* croping calander bg-img */
    .crop-image {
        margin-top: -20px;
    }

    .crop-image img {
        height: 40%;
    }
    .Trading-Cards{
        margin-bottom: 100px;
        margin-top: 100px;
    }
    /* croping certificate bg-img */
    .crop-image2 {
        margin-top: -25px;
    }

    .crop-image2 img {
        height: 40%;
    }

    /* croping tick bg-img */
    .crop-image3 {
        margin-top: -20px;
    }

    .crop-image3 img {
        height: 40%;
    }

    /* ENQUIRE FORM LAYOUT 5 */
    .enquire-form input {
        padding: 0px;
        width: 100%;
        margin-bottom: 10px;
    }

    .enquire-form form {
        margin: 0%;
        padding: 20px;
    }

    .enquire-form a {
        margin-top: 10px;
        margin-right: 0%;
        margin-left: 5px;

    }

    .enquire-form h2 {
        font-size: large;
        margin-bottom: 0%;
    }

    .enquire-form label {
        font-size: small;
    }

    .enquire-form {
        margin-bottom: 25%;
    }

    /* LAYOUT 6 ACCREDITATIONS */
    .Our-Accreditations h2 {
        margin-bottom: 20px;
        font-size: large;

    }

    .Our-Accreditations img {
        margin-left: 50px;
    }

    .Our-Accreditations {
        margin-bottom: 25%;
    }

    .Our-Accreditations img {
        width: 500%;
        margin-left: 0%;
        margin-top: 30px;
    }

    /* TESTIMONIAL LAYOUT 7 */
    .Testimonials {
        background-image: url(../images/Testimonials_bg_img.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 800px;
    }

    .Testimonials-Carousel .container .row {
        margin-top: -700px;
        margin-left: 0px;
        height: 300px;
        width: 100%;
    }

    .Testimonials-Carousel h2 {
        font-size: 20px;
        margin-top: 20%;
        margin-left: 5%;
    }

    .Testimonials-Carousel p {
        font-size: small;
        margin-left: 5%;
        margin-top: 30px;
    }

    .Testimonials-Carousel {
        margin-bottom: 200px;
    }

    .icon-quotes {
        font-size: 2rem !important;
        color: #ffffff;
        position: absolute;
        background-color: #24ABE2;
        padding: 20px;
        border-radius: 100px;
        margin-top: 260px;
        margin-left: 20px;
    }

    swiper-container {
        margin-top: 600px;
        margin-left: 0px;
        width: 100%;
        height: 300px;
    }

    swiper-slide i {
        font-size: 100% !important;
        background-color: #24ABE2;
        padding: 15px;
        padding-right: 15px;
        padding-left: 15px;
        margin-top: -50px;
        margin-left: -30px;
    }

    /* LAYOUT 8 BLOG CARDS */
    #bluecard {
        margin-right: 80px;
    }

    #blog-1 {
        margin-left: 36px;
        margin-top: 30px;
    }

    #blog-2 {
        margin-left: 20px;
        margin-bottom: 100px;
        margin-top: 30px;
    }

    .txt-center-2 {
        z-index: 1;
        margin-left: 120px;
        margin-top: -68px;
        margin-right: 50px;
        font-size: xx-small;

    }

    .blog-cards p {
        font-size: 7px;
        text-align: center;
    }

    .blog-cards h2 {
        font-size: medium;
        text-align: center;
    }

    #readmore-btn {
        margin-left: 15px;
        width: 75%;
        align-self: center;
        background-color: #24ABE2;
        font-size: xx-small;
    }

    /* LAYOUT 9 */
    #content-1 {
        margin-top: 100px;
        margin-left: 0px;
    }

    #foot-content {
        margin-left: 50px;
    }

    .vatno {
        margin-left: 0px;
    }

    .link-txt {
        font-size: 100%;
    }

    #content-1 p {
        font-size: 80%;
    }

    #content-2 a,
    #content-3 a,
    #content-4 a {
        font-size: 90%;
    }

    .para-font {
        font-size: medium;
    }

    #content-4 {
        margin-bottom: 50px;
    }


}